main {
  padding: 10px;
}

h1 {
  text-align: center;
}

input[type=text], textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 6px;
  margin: 6px 0;
  border: 2px solid light gray;
}

textarea {
  resize: none;
}

form {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1020px) {
  form {
    width: 100%;
    }
  }

  button, input[type=reset]{
    background-color: red;
    color: white;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

button: hover, input [type=reset]: hover{
  background-color:gray;
}
