main {
  text-align: center;
}

#profile-pic {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s;
}

#profile-pic:hover {
  transform: scale(1.1);
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0;
}

.language {
  width: 250px
  margin: 0 auto;
}

.language img {
  width: 100%;
}
